{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-page">
      <center><h2>Log in</h2></center>
        <br>
        <div class="form">
    
        <form method="post" class="login-form" id="signup-form" autocomplete="off">
          {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                    <script>
                        alert("{{message}}")
                    </script>
                    {% endfor %}
                {% endif %}
            <input type="text" required name ="username" placeholder="Username"/>
            <input type="password" name="password" id="password" placeholder="Password"/> 
            <br>
            <a style="color: rgb(0, 191, 255);" href="/password-reset/" class="text-muted small">Forgot your password?</a>
            <br>
            <button type="submit" id="btn-signup">LOGIN</button>
        </form>
    
        <form class="login-form">
            <button type="button" onclick="window.location.href='register'">SIGN UP</button>
        </form>
        </div>
  </div>
</body>
</html>
{% endblock content %}