{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
    <div class="login-page">
        <center><h2>Register with us</h2></center>
        <div class="form">
          <form>
            <input type="text" required minlength="10" name="username" placeholder="Full name" />
            <input type="email" required name="email" placeholder="email address" />
            <input type="password" id="password" name="password1" id="password" placeholder="set a password" />
            <input type="password" name="password2" id="cpassword" placeholder="confirm password" />
            <i class="fas fa-eye" onclick="show()"></i>
            <br>
            <br>
          </form>

          <form class="login-form">
            <button type="button" id="btn-signup">
              SIGN UP
            </button>
          </form>
        </div>
    </div>
</body>
<script>
    function show() {
      var password = document.getElementById("password");
      var icon = document.querySelector(".fas");
      if (password.type === "password") {
        password.type = "text";
      } else {
        password.type = "password";
      }
    }
  </script>
</html>
{% endblock content %}