{% extends "./base.html" %}
{% block content %}
<section class="menu" id="fruits">
    <h1 class="heading">Select your product below</h1>
    <div class="box-container" id="product-list">
        {% for product in products %}
        <div class="box">
            <img src="{{product.imageURL}}">
            <h3>{{product.name}}</h3>
            <div class="price"><strong>
                ${{product.price|floatformat:2}}</strong></div>
                <!-- <a href="" class="btn btn-outline-success">View</a> -->
            <button class="add-to-cart" data-id="product-3.1">Add to Cart</button>

        </div>
        {% endfor %}
    </div>

</section>
<!-- footer section starts here -->

{% endblock content %}